<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildIdentities</key>
	<array>
		<dict>
			<key>ApBoardID</key>
			<string>0xc</string>
			<key>ApChipID</key>
			<string>0x8101</string>
			<key>ApSecurityDomain</key>
			<string>0x1</string>
			<key>Info</key>
			<dict>
				<key>Variant</key>
				<string>research</string>
			</dict>
			<key>Manifest</key>
			<dict>
				<key>Ap,CryptexInfoPlist</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Cryptex/research/c411</string>
					</dict>
				</dict>
				<key>CryptexDMG</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Cryptex/research/cpxd</string>
					</dict>
				</dict>
				<key>LoadableTrustCache</key>
				<dict>
					<key>Info</key>
					<dict>
						<key>Path</key>
						<string>Cryptex/research/ltrs</string>
					</dict>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
